<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-light mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{operacion}} Pelicula</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addMovie()">
          <input formControlName="title" type="text" class="form-control" placeholder="Ingrese titulo">
          <input formControlName="genre" type="text" class="form-control mt-2" placeholder="Ingrese genero">
          <input formControlName="format" type="text" class="form-control mt-2" placeholder="Ingrese formato">
          <input formControlName="description" type="text" class="form-control mt-2" placeholder="Ingrese descripcion">
          <input formControlName="clasification" type="text" class="form-control mt-2"
            placeholder="Ingrese clasificacion">
          <input formControlName="durationMin" type="number" class="form-control mt-2" placeholder="Ingrese duracion">
          <div *ngIf="form.get('title')?.hasError('required')  || form.get('genre')?.hasError('required') || form.get('clasification')?.hasError('required') || form.get('format')?.hasError('required') || form.get('description')?.hasError('required') || form.get('durationMin')?.hasError('required') && form.get('title')?.touched || form.get('genre')?.touched || form.get('clasification')?.touched || form.get('format')?.touched || form.get('description')?.touched || form.get('durationMin')?.touched">
            Todos los campos son <strong>requeridos</strong>
          </div>
          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button routerLink="/" type="button" class="btn btn-light" style="width: 82%;">VOLVER</button>
            </div>
            <div class="col-lg-6">
              <button [disabled]= "form.invalid" type="submit" class="btn btn-dark" style="width: 100%;">ACEPTAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>