<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Listado de Salas</h4>
    <button type="button" class="btn btn-light" routerLink="add">Agregar sala</button>
  </div>
  <br>

  <table *ngIf="filteredSalas.length > 0" class="table table-primary">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>

    </thead>
    <tbody>

      <tr *ngFor="let item of filteredSalas" class="table-light">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
          <button routerLink="edit/{{ item.id }}" type="button" class="btn btn-dark btn-sm">Editar</button>
          <button (click)="deleteSala(item.id)" type="button" class="btn btn-danger btn-sm ms-2">Borrar</button>
        </td>

      </tr>

    </tbody>
  </table>
  <h5 *ngIf="listSalas.length == 0">No hay salas para mostrar</h5>
</div>