<!-- cartelera.component.html -->

<div>
  <h1>¡Bienvenido a la Cartelera!</h1>
  <p>Descubre las últimas películas en exhibición.</p>
</div>

<div>
  <button routerLink="/login" class="btn btn-primary">Ir a Login</button>
</div>



<div class="cartelera">
  <div *ngFor="let pelicula of peliculas" class="pelicula">
    <h2>{{ pelicula.nombre }}</h2>
    <p>{{ pelicula.descripcion }}</p>
    <img [src]="obtenerImagenUrl(pelicula.imagen)" alt="{{ pelicula.nombre }}">
  </div>
</div>


<script src="cartelera.script.js"></script>