<!-- cartelera.component.html 
<div class="d-flex justify-content-between align-items-center">
  <div>
    <h1>¡Bienvenido a la Cartelera!</h1>
    <p>Descubre las últimas películas en exhibición.</p>
  </div>

  <div>
    <button routerLink="/login" class="btn btn-primary">Ir a Login</button>
  </div>
</div>-->

<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="X-UA-Compatible" content="width*device-width, initial-scale*1.0">
  <title> PELICULAS </title>
  <link rel="stylesheet" href="cartelera-styles.css">
</head>

<body>

  <header class="header">
    <div class="menu container">
      <a href="#" class="logo">cine </a>
      <input type="checkbox" id="menu" />
      <label for="menu">
        <img src="img/menu.png" class="menu-icono" alt="menu">
      </label>
      <nav class="navbar">
        <ul>
          <li> <a href="#"> Inicio </a> </li>
          <li> <a href="#"> Nosotros </a> </li>
          <li> <a href="#"> Peliculas </a> </li>
          <li> <a href="#"> Contacto </a> </li>
        </ul>
      </nav>
      <a href="#" class="btn-1"> Login </a>
    </div>

    <div class="header-content container">
      <div class="header-1">
        <img src="img/venom.png" alt="" />
        <a href="#" class="btn-2"> Ver ahora </a>
      </div>
      <div class="header-2">
        <h1> Las mejores <br /> peliculas </h1>

      </div>
    </div>
  </header>

  <section class="movies container">
    <h2> Peliculas mas vistas </h2>
    <hr>
    <div class="box-container-1">
      <div class="box-1">
        <div class="content">
          <img src="img/mulan.jpg" alt="Mulan" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/unidos.jpg" alt="Unidos" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/avatar.jpg" alt="Avatar" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/elementos.jpg" alt="Elementos" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/halloween.jpg" alt="Halloween" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/Indiana_Jones.jpg" alt="Indiana Jones" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/huntsman.jpg" alt="Huntsman" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/mario.jpg" alt="Mario" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/kraken.jpg" alt="Kraken" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/oppenheimer.jpg" alt="Oppenheimer" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-1">
        <div class="content">
          <img src="img/ryf.jpg" alt="Rapido y Furioso" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>
    </div>

    <div class="load-more" id="load-more-1"> Cargar mas </div>

  </section>

  <section class="movies container">
    <h2> Peliculas mas vistas </h2>
    <hr>
    <div class="box-container-2">
      <div class="box-2">
        <div class="content">
          <img src="img/avatar.jpg" alt="Avatar" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-2">
        <div class="content">
          <img src="img/halloween.jpg" alt="Halloween" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-2">
        <div class="content">
          <img src="img/Indiana_Jones.jpg" alt="Indiana Jones" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-2">
        <div class="content">
          <img src="img/huntsman.jpg" alt="Huntsman" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-2">
        <div class="content">
          <img src="img/ryf.jpg" alt="Rapido y Furioso" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>
    </div>

    <div class="load-more" id="load-more-2"> Cargar mas </div>

  </section>

  <section class="movies container">
    <h2> Peliculas de estreno </h2>
    <hr />
    <div class="box-container-3">
      <div class="box-3">
        <div class="content">
          <img src="img/star_wars.jpg" alt="Star wars" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-3">
        <div class="content">
          <img src="img/wanda_vision.jpg" alt="Wanda vision" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-3">
        <div class="content">
          <img src="img/black_widow.jpg" alt="Black widow" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-3">
        <div class="content">
          <img src="img/life.jpg" alt="Life" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-3">
        <div class="content">
          <img src="img/batman.jpg" alt="Batman" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>

      <div class="box-3">
        <div class="content">
          <img src="img/morbius.jpg" alt="Morbius" />
          <h3> Pelicula HD </h3>
          <p>
            Agrego un texto
          </p>
        </div>
      </div>
    </div>

    <div class="load-more" id="load-more-3"> Cargar mas </div>

  </section>

  <footer class="footer container">
    <h3> cine </h3>
    <ul>
      <li><a href="#"> Inicio </a></li>
      <li><a href="#"> Nosotros </a></li>
      <li><a href="#"> Peliculas </a></li>
      <li><a href="#"> Contacto </a></li>
    </ul>
  </footer>
  <script src="script.js"></script>
</body>

</html>