<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
  <div class="col-lg-4 offset-lg-4">
    <div class="card bg-light mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{operacion}}Editar usuario</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="editUser()">

          <div class="form-floating mb-3 mt-3">
            <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese nombre">
            <label>Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="apellido" type="text" class="form-control" placeholder="Ingrese apellido">
            <label>Apellido</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="dni" type="text" class="form-control" placeholder="Ingrese DNI">
            <label>DNI</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="telefono" type="text" class="form-control" placeholder="Ingrese telefono">
            <label>Telefono</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="userName" type="text" class="form-control" placeholder="Ingrese nombre de usuario">
            <label>Usuario</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="password" type="password" class="form-control"
              placeholder="Ingrese password (opcional)">
            <label>Password (Dejar vacio para mantener actual)</label>
          </div>

          <div class="form-floating mb-3">
            <select formControlName="role" class="form-select">
              <option value="User">User</option>
              <option value="Admin">Admin</option>
            </select>
            <label>Rol</label>
          </div>

          <span *ngIf="form.invalid && form.touched" class="text-danger">
            Todos los campos (menos password) son <strong> obligatorios </strong>
          </span>

          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button (click)="navigateToUsers()" type="button" class="btn btn-light">Volver</button>
            </div>
            <div class="col-lg-6">
              <button [disabled]="form.invalid" type="submit" class="btn btn-dark">Aceptar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>