<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4> Usuarios </h4>
  </div>
  <br>
  <!-- ... *ngIf="listUsers.length > 0"-->
  <table *ngIf="filteredUsers.length > 0" class="table table-primary">
    <thead>
      <tr>
        <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre de Usuario</th>
          <th scope="col">Telefono</th>
        </tr>

    </thead>
    <tbody>
      <!-- ... *ngFor="let item of listUsers"-->
      <tr *ngFor="let item of filteredUsers" class="table-light">
        <td>{{ item?.id }}</td>
        <td>{{ item?.nombre }}</td>
        <td>{{ item?.apellido }}</td>
        <td>{{ item?.userName }}</td>
        <td>{{ item?.telefono }}</td>
        <td>
          <button [routerLink]="['edit', item.id]" type="button" class="btn btn-dark btn-sm ">Editar</button>
          <span style="margin-right: 10px;"></span>
          <button (click)="deleteUser(item.id)" onClick= "window.location.reload()" type="button" class="btn btn-danger btn-sm ms-2">Borrar</button>

        </td>
      </tr>

    </tbody>
  </table>
  <h5 *ngIf="listUsers.length == 0"> No hay usuarios registrados</h5>
</div>