<div class="wrapper">
    <div *ngIf="!loading" class="body">
        
        <h3>Registrar Usuario</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Ingrese usuario">
            <label>Nombre</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="apellido" class="form-control" placeholder="Ingrese usuario">
            <label>Apellido</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="dni" class="form-control" placeholder="Ingrese usuario">
            <label>DNI</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="telefono" class="form-control" placeholder="Ingrese usuario">
            <label>Telefono</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="userName" class="form-control" placeholder="Ingrese usuario">
            <label>Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese password">
            <label>password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmarPassword" class="form-control" placeholder="Ingrese password de nuevo">
            <label>Repetir password</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="addUser()" class="btn btn-primary btn-lg">Aceptar</button>
        </div>
        <a routerLink="/login">Volver</a>
    </div>
    
</div>
