<div class="funcion-container">
  <!-- Selección de función -->
  <h2>Elegí tu función</h2>

  <!-- Fecha -->
  <div class="form-group">
    <label for="fecha">📅 Fecha:</label>
    <input type="date" id="fecha" [(ngModel)]="fechaSeleccionada" (change)="buscarHorarios()" [min]="fechaMinima"
      required />
  </div>

  <!-- Sucursal -->
  <div class="form-group">
    <label for="sucursal">📍 Sucursal:</label>
    <select id="sucursal" [(ngModel)]="sucursalSeleccionada" (change)="buscarHorarios()" required>
      <option [ngValue]="null" disabled selected>Seleccioná una sucursal</option>
      <option *ngFor="let sucursal of sucursalesDisponibles" [ngValue]="sucursal.id">
        {{ sucursal.nombre }}
      </option>
    </select>
  </div>

  <!-- Hora -->
  <div class="form-group" *ngIf="horariosDisponibles.length > 0">
    <label for="hora">🕒 Hora:</label>
    <select id="hora" [(ngModel)]="horaSeleccionada" required>
      <option value="" disabled selected>Seleccioná un horario</option>
      <option *ngFor="let hora of horariosDisponibles" [value]="hora">
        {{ hora }}
      </option>
    </select>
  </div>

  <!-- Continuar -->
  <button class="boton-continuar" [disabled]="!horaSeleccionada || !fechaSeleccionada || !sucursalSeleccionada"
    (click)="continuarAFormulario()">
    Continuar a la selección de asientos
  </button>
</div>